.main{
  width:70%;
  height:720px;
}

.card{
  background-color: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  /* opacity: 0.5; */
  padding:50px 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-main{
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}

.btn-main:hover {

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




