<section id="home" class="main d-flex justify-content-center flex-column">
  <div>
    <div class="container mx-auto d-flex flex-md-row flex-column">
      <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
        <h6 class="color">Hi, My name is</h6>
        <h1 class="title">Igor Pierre Miranda</h1>
        <h2 class="sub-title">The Best Fullstack developer for Your Needs</h2>
        <p>
          I design scalable, efficient, and elegant digital systems — from microservices to AI-powered tools.<br><br>
    </p>
        <button class="btn btn-main " ><a href="/#projects">See what I can build</a></button>
      </div>
      <div class="img-box col-12 col-md-4 d-flex justify-content-center">
        <div class="img-wrapper mx-auto">
          <div class="profile-picture-wrapper">
            <img src="assets/IMG_3443.jpeg" class="profile-picture d-block mx-auto" alt="">
          </div>
          <div class="rectangle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
