<section id="about-me">
  <div class="component">
    <div class="background-lines"></div>
  </div>
  <div class=" d-flex flex-row title-box">
    <h2 id="section-1" class="text-start" data-aos="fade-up">
      <span class="color">{{ cardIndex }}</span>
      <span>. </span>
      About-me
    </h2>
    <span id="line"></span>
  </div>
  <div class="container mx-auto d-flex flex-md-row flex-column">
    <div class="container col-12 col-md-8 mx-auto d-flex flex-column justify-content-start">
      <div class="container mx-auto row">
        <div class="text-box d-flex flex-column align-items-center ">

          <p>
          <p>
            From humble beginnings in a semi-arid region of Brazil, my journey to becoming a Fullstack Developer has
            been
            nothing
            short of extraordinary.
            With over 3 and a half years of experience, I’ve faced countless challenges, but each one has made me more
            resilient,
            resourceful, and determined.
            <br> <br>
            It wasn’t easy—14-hour days spent learning, coding, and pushing my limits—but I knew that mastering my craft
            was the
            only way to truly transform ideas into powerful digital solutions. My passion for software development isn’t
            just
            about writing code; it’s about overcoming obstacles, solving real problems, and driving growth.
            <br> <br>
            Now, I’m ready to bring all that knowledge, dedication, and energy to your team. Imagine what we can achieve
            together—because when you hire me, you’re not just getting a developer. You’re gaining a partner who’s as
            committed to
            your success as you are.
            <strong>This is your future team player.</strong>
          </p>

        </div>

      </div>
    </div>
    <div class="img-box col-12 col-md-4 d-flex justify-content-center">
      <div class="img-wrapper mx-auto">
        <div class="profile-picture-wrapper">
          <img src="assets/me.JPEG" class="profile-picture d-block mx-auto" alt="">
        </div>
        <div class="rectangle"></div>
      </div>
    </div>
  </div>
</section>
