<section id="about-me">
  <div class=" d-flex flex-row title-box">
    <h2 id="section-1"class="text-start" data-aos="fade-up"><span class="color">01. </span>About-me</h2>
    <span id="line"></span>
  </div>
  <div class="container mx-auto d-flex flex-column justify-content-start">
    <div class="container mx-auto row">
      <div class="text-box d-flex flex-column align-items-center col-12 col-md-6">
        <p>Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!

          Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.

          I also recently launched a course that covers everything you need to build a web app with the Spotify API using Node & React.

          Here are a few technologies I’ve been working with recently:</p>

      </div>
      <div class="img-box col-12 col-md-6 d-flex justify-content-center">
        <div class="img-wrapper mx-auto">
          <img src="assets/IMG_3443.jpeg" class="profile-picture img d-block mx-auto" alt="">
          <div class="rectangle"></div>
        </div>
      </div>
    </div>
  </div>
</section>



