#about-me {
  .img-box {
    display: flex;
    justify-content: center;

    .img-wrapper {
      position: relative;
      display: inline-block;
      overflow: hidden;
      padding: 25px;

      .profile-picture-wrapper {
        display: inline-block;
        transition: transform 0.3s ease-out;

        &:hover {
          .profile-picture {
            transform: translateX(10%);
          }
          .rectangle {
            transform: translateX(-10%);
          }
        }
      }

      .profile-picture {
        visibility: visible;
        opacity: 1;
        display: block;
        width: 300px;
        height: auto;
        transition: transform 0.3s ease-out;
      }

      .rectangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #E40F36;
        z-index: -1;
        transition: transform 0.3s ease-out;
      }
    }
  }

  .component {
    position: relative;
    /* Restante das propriedades do componente */

    .background-lines {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        animation: rays 2s infinite linear;
      }

      &:after {
        animation-delay: 1s;
      }
    }
  }

  @keyframes rays {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }



}


