<div class="navbar fixed top-0 left-0 w-full z-50 bg-base-100 shadow-sm">

  <div class="flex-1">
    <a class="btn btn-ghost text-xl"><img  class="logo" src="assets/logos/Dev-igor-purple-large-transparent.png"></a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
   <li><label for="contact-modal" class="text-black nav-link">Contact</label></li>
      <!-- <li><a class="text-black nav-link" href="/#about-me">About-me</a></li> -->
      <li><a class="text-black nav-link" href="/#projects">Projects</a></li>
      <li><a class="text-black nav-link" href="/#skills">Skills</a></li>
      <li><a class="text-black nav-link" href="/#dev-journey">Career</a></li>

    </ul>
  </div>
</div>


