<section id="career">
  <div class="d-flex flex-row title-box">
    <h2 id="section-1" class="text-start">
      <span class="color" data-aos="fade-up">{{ cardIndex }}</span>
      <span>. </span>
      Career
    </h2>
  </div>
    <div class="d-flex flex-row mb-2">
      <h6 class="me-2">Total Experience time:  </h6>
      <h6 id="line">{{ totalExperience }}</h6>
    </div>

  <div class="d-flex flex-row" data-aos="fade-up">
    <ul>
      <li *ngFor="let role of roles">
        <button class="btn btn-carrer" [id]="role.id" (click)="selectRole(role.id)" (mouseenter)="selectRole(role.id)"
          [ngClass]="{'selected': role.id === selectedRoleId}">
          {{ role.title }}
        </button>
      </li>
    </ul>
    <div class="container">
      <div *ngFor="let role of roles" class="" [id]="role.id">
        <div *ngIf="role.id === selectedRoleId">
          <h5 data-aos="fade-up">{{ role.company }}</h5>
          <h6 data-aos="fade-up">{{ role.time }}</h6>
          <p style="white-space: pre-line" data-aos="fade-up">{{ role.text }}</p>
        </div>
      </div>
    </div>
  </div>

</section>
