section{
  height:520px;
}
.btn-carrer{
  width: 100%;
  border-left: 2px solid gray;
  border-radius: 0px !important;
}

.btn-carrer:hover{
  color: #E40F36;
  border-left: 2px solid #E40F36;
}

.selected{
  color: #E40F36;
  border-left: 2px solid #E40F36;
  background-color: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));

}

ul {
  list-style-type: none;
}
