section{
  height:520px;
}
.btn-carrer{
  width: 100%;
  border-left: 2px solid gray;
  border-radius: 0px !important;
}

.btn-carrer:hover{
  color: red;
  border-left: 2px solid red;
}

.selected{
  color: red;
  border-left: 2px solid red;
  background-color: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));

}

ul {
  list-style-type: none;
}
