<input type="checkbox" id="contact-modal" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
    <h3 class="font-bold text-2xl mb-4">Contacts</h3>
    <ul class="space-y-4 text-xl text-gray-700 ">
      <li>
        <a href="https://www.linkedin.com/in/igor-pierre-miranda/" target="_blank" class="link link-hover">
          🔗 Linkedin
        </a>
      </li>
      <li>
        <a href="https://github.com/ipcm27" target="_blank" class="link link-hover">
          💻 Github
        </a>
      </li>
      <li><a
        href="mailto:igorpcmiranda@gmail.com?subject=Saw%20your%20website%20–%20Interview%20Request&body=Hi%20Igor%2C%0D%0A%0D%0AI%20just%20visited%20your%20website%20and%20was%20impressed%20with%20your%20work.%20I%27d%20like%20to%20schedule%20a%20quick%20interview%20or%20chat%20to%20explore%20potential%20collaboration.%0D%0A%0D%0ALet%20me%20know%20your%20availability.%0D%0A%0D%0ABest%20regards%2C">
      📧 igorpcmiranda{{'@'}}gmail.com
        </a></li>
      <li>📱 +351 910 934 716</li>
    </ul>

    <div class="modal-action">
      <label for="contact-modal" class="btn">Close</label>
    </div>
  </div>
</div>
