@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

section{
  height:fit-content;
  padding:30px;
}

.color{
  color:red
}

.title-box{
  padding-bottom: 15px;;

}

.line{
  border: 5px solid red;
  width:100%;
}

.btn-main{
  color: red;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 15px;
  padding: 1.25rem 1.75rem;
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-top: 50px;
}

/* body{
  background-color: black;
} */
