<section>
<div class="container" id="title-container">
  <img src="assets/Igor-profile.jpeg" alt="Igor" class="profile-pic mx-auto img d-block" />
  <div class="container profile-box">
    <h1 class="prfile-title">Igor (Icode) Pierre</h1>
    <h3 class="prfile-title">Fullstack developer</h3>
  </div>
</div>
<div class="container" id="contact-container">
  <i class=" large material-icons" click="show-info()">home</i>
  <i>Contact-info</i>

  <div class="container profile-box d-none " >
    <h4>How to find me</h4>
    <h6>Address</h6>
    <p>Lisbon - Portugal (Avaible to
    Relocation)</p>
    <h6>Phone</h6>
    <p>+351 910 934 716</p>
    <h6>Email:</h6>
    <p> igorpcmiranda@gmailcom</p>
    <h6>Linkedin:</h6>
    <p>linkedin.com/in/igor-pierre</p>
    <h6>GitHub</h6>
    <p>@ipcm27</p>
  </div>
</div>


</section>
